* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 750px;
    padding: 5px;
    margin: 0 auto;
}

/* Inizio header */

#container{
    width: 100%;
    height: 100px;
    background: rgba(78,160,255,255);
}

#pattern{
    background-image: url('/Users/fabiolaforesta/Desktop/Boolean/Classe60/html-css-booleaner/img/pattern.png');
    width: 200px;
    height: 10px;
    background-repeat: repeat;
}

#logo{
        width: 120px;
        height: 70px;
        padding: 5px;
        margin-top: 15px;
}

#smalltext{
    color: #a2a2a2;
}

/* Inizio main */

#image-tim img{
    margin-top: 20px;;
    width: 48%;
    height: 275px;
}

.didascalie{
    font-size: 12px;
}

.firsttext{
    margin-top: 30px;
}

.ol-text ul{
    margin-top: 30px;
    margin-left: 20px;
}

/* tabella */
#table{
    margin-top: 35px;
    border-collapse: collapse;
}
/* fine tabella */

#spacetext{
    margin-top: 35px;
}

#primarigha{
    background: #20a9e5;
}

/* Inizio footer */

.img-footer1{
    margin-top: 10px;
    width: 250px;
    height: 200px;
}

#img1 {
    background-image: url('../img/monitor.jpg');
    height: 100%;
  }

#img2 {
    background-image: url("../img/graph.jpg");
    height: 100%;
  }