* {
    width: 750px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    padding: 5px;
}

/* Inizio header */

#container-pattern{
    width: 100%;
    height: 100px;
    background: rgba(78,160,255,255);
}

/* #container-pattern img{
    width: 200px;
    height: 100px;
    background-repeat: repeat;
}

#logo{
    width: 150px;
    height: 100px;
    padding: 5px;
    margin-top: 10px;
} */


/* Inizio main */

#image-tim img{
    margin-top: 15px;;
    width: 48%;
    height: 275px;
}

.didascalie{
    font-size: 10px;
}

.text{
    margin-top: 15px;
}

.text ul{
    margin: 10px;
}

#table{
    margin-top: 35px;
}

#primarigha{
    background: #20a9e5;
}
/* Inizio footer */